rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /public-users/{userId} {
      allow read;
      allow update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null  ;    
    }
     match /private-users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null      
    }
     match /recipes/{Id} {
			allow read;
      allow create, update, delete: if isValidPublisherData();
    }

		function isValidPublisherData(){
       return request.resource.data.Publisher == request.auth.uid;
    }
    
    match /measuring-units/{Name}{
    	allow read;
 			allow create: if request.auth != null && !exists (/databases/$(database)/documents/measuring-units/(request.resource.data.Name))
    }
    
   	match /ingredients/{Name}{
    	allow read;
 			allow create: if request.auth != null && !exists (/databases/$(database)/documents/ingredients/(request.resource.data.Name))
    }
        
    match /themes/{Name}{
    	allow read;
 			allow create: if request.auth != null && !exists (/databases/$(database)/documents/themes/(request.resource.data.Name))
    }
    
    
  }
}