@import "../../../../../styles/style.css";

.body{
  height:calc(100vh);
  width:100vw;
  flex-direction: column;
  display:flex;
}
.contentbody{
  background-color: var(--LighterGray);
  width: calc(100vw - 6vw - 6vw);
  height:100%;
  display:flex;
}

.content{
  margin:1vh;
  height:calc(100% - 2vh);
  width:100%;
}
.sidebarelement{
  display:flex;
  flex-direction: row;
  height:calc(100vh - 100px);
}

.container{
  display:flex;
  flex-direction: column;
  height:100%;
}

.sidebar {
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: var(--DarkGray);
  border-right: 1px solid var(--DarkerGold);
  width: 6vw;
  min-width: 110px;
  height:100%;
  padding:0;
  color:var(--LightGold);
  font-family: 'Inter UI', sans-serif; 
}

.adbar {
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: var(--DarkGray);
  border-left: 1px solid var(--DarkerGold);
  width: 6vw;
  min-width: 110px;
  height:100%;
  padding:0;
  color:var(--LightGold);
  font-family: 'Inter UI', sans-serif; 
} 

.sidebar-container {
  width: 100%;
  height:3vh;
  min-height:25px;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid var(--DarkerGold);
}

.ad-container {
  width: 100%;
  height:30vh;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid var(--DarkerGold);
}

.flex-icon,
.flex-content {
  flex-grow: 0;
  position: relative;
  padding-left: 5px;
}

.flex-icon {
  color: var(--DarkGold);
  transition: all .5s;
}

.nav-link {
  padding-left: 5px;
  color: var(--DarkGold);
}

.sidebar-container:hover .flex-icon {
  flex-grow: 0.75;
  color: var(--Gold);
}

.sidebar-container:hover .nav-link {
  color: var(--Gold);
}

.sidebar-container:active .nav-link {
  color: var(--Gold);
}

.sidebar-container.is-active .flex-icon {
  color: var(--Gold);
}
.sidebar-container.is-active .nav-link  {
  color: var(--Gold);
  text-decoration: underline;
}