.comment-header{
    background-color: var(--Primary_Bg_Color);
    border-bottom:1px solid var(--Accent_Border_Color);
    padding:0px 0px 0px 10px;
    margin:0;
    height:25px;
    font-size: 16px;
    justify-content: center;
}

.comment-card{
    margin:10px;
    background-color: var(--Accent_Bg_Color);
    color: var(--Primary_Text_Color);
    border: 1px solid var(--Accent_Border_Color);
    border-radius: 8px;
    padding:0;
    overflow:hidden;
}


.profile-img-container{
    height: 60px;
    width: 60px;
}



.profile-img{
    border-radius: 8px;
    object-fit: cover;
    width:100%;
    height:100%
}

.profile{
    padding:5px;
    background-color: var(--Accent_Bg_Color);
    border-right: 1px solid var(--Accent_Border_Color);
    height:100%;
    width:fit-content;
    flex-direction: column;
    justify-content: center;
    display:flex;
    align-items: center;
}

@media (min-width: 569px) {
    .profile-img-container{ 
        height: 70px;
        width: 70px;
    }
    .profile{
        padding:10px;
    }
}

@media (min-width: 769px) {
    .profile-img-container{ 
        height: 90px;
        width: 90px;
    }
}

@media (min-width: 969px) {
    .profile-img-container{ 
        height: 120px;
        width: 120px;
    }
}

.profile-data{
    padding-top:5px;
    text-align: center;
    justify-content: center;
    color:var(--Primary_Text_Color);
    word-break: break-all;
    overflow:hidden;
    max-height: 40px;
    max-width: 100%;
    font-size: small;
}

.comment-content{
    max-height: 150px;
    overflow-y: auto;
    padding:9px;
}