<div class="padded-content">
    <div style="justify-content: center; width:100%;">
        <div class="searchcontainer">
            <input
                type="text"
                class="form-control search"
                id="searchIngredient"
                placeholder="search"
                [(ngModel)]="Search"
                name="Search"
            />
        </div>
        <div style="display:flex; flex-wrap:wrap; justify-content: flex-start">
            <div class="theme-card" [ngStyle]='{"background-color":Theme.theme["--Primary_Bg_Color"]}' *ngFor="let Theme of Themes">
                <div style="height:fit-content;display:flex; flex-direction:column;">
                    <div class="theme-preview" style="display:flex; flex-direction:row; padding: 0px; margin: 10px 10px; justify-content: space-between;" [ngStyle]='{
                        "background-color":Theme.theme["--Primary_Bg_Color"],
                        "border":"none"
                        }'>
                        <button type="button" class="btn btn-outline-primary" style="width: 50%; margin-right: 10px; margin-left:0px;" (click)="tryTheme(Theme)" [ngStyle]='
                        {
                            "background-color":Theme.theme["--Primary_Color"],
                            "color":Theme.theme["--Primary_Text_Color"],
                            "border-color":Theme.theme["--Primary_Border_Color"]
                        }'> {{"TXT_Try" | translate}}  {{Theme.name}}
                        </button>
                        <button type="button" class="btn btn-outline-primary" style="width: 50%; margin-left: 10px; margin-right:0px;" (click)="selectTheme(Theme)" [ngStyle]='
                        {
                            "background-color":Theme.theme["--Accent_Bg_Color"],
                            "color":Theme.theme["--Primary_Text_Color"],
                            "border-color":Theme.theme["--Accent_Border_Color"]
                        }'> {{"TXT_Select_Theme" | translate}} 
                        </button>
                    </div>
                    

                    <div (click)="gotoTheme(Theme)" class="pointer" style="display:flex; flex-direction:row; padding: 0px; margin: 10px 10px; justify-content: space-between;">
                        <div class="theme-preview" style="width: 50%; margin-right: 10px; margin-left:0px;" [ngStyle]='{
                            "background-color":Theme.theme["--Accent_Bg_Color"],
                            "border-color":Theme.theme["--Primary_Border_Color"]
                            }'>
                            <button class="btn btn-outline-primary" [ngStyle]='
                                {
                                    "background-color":Theme.theme["--Primary_Color"],
                                    "color":Theme.theme["--Primary_Text_Color"],
                                    "border-color":Theme.theme["--Primary_Border_Color"]
                                }'> {{Theme.name}}
                            </button>
                            <button class="btn btn-outline-primary" [ngStyle]='
                            {
                                "background-color":Theme.theme["--Accent_Color"],
                                "color":Theme.theme["--Accent_Text_Color"],
                                "border-color":Theme.theme["--Accent_Border_Color"]
                            }'> {{Theme.name}}
                            </button>
                        </div>
                        <div class="theme-preview" style="width: 50%; margin-left: 10px; margin-right:0px;" [ngStyle]='{
                            "background-color":Theme.theme["--Accent_Bg_Color"],
                            "border-color":Theme.theme["--Accent_Border_Color"]
                            }'>
                            <button class="btn btn-outline-primary" [ngStyle]='
                            {
                                "background-color":Theme.theme["--Primary_Color"],
                                "color":Theme.theme["--Primary_Text_Color"],
                                "border-color":Theme.theme["--Accent_Border_Color"]
                            }'> {{Theme.name}}
                            </button>

                            <button class="btn btn-outline-primary" [ngStyle]='
                            {
                                "background-color":Theme.theme["--Accent_Color"],
                                "color":Theme.theme["--Accent_Text_Color"],
                                "border-color":Theme.theme["--Primary_Border_Color"]
                            }'> {{Theme.name}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
