<div class="padded-content" style="height:calc(100% - 100px);">
    <div style="justify-content: center; width:100%;">
        <div style="max-width: 700px; margin:10px;">
            <input
                type="text"
                class="form-control"
                id="searchIngredient"
                placeholder="search"
                [(ngModel)]="Search"
                name="Search"
            />
        </div>
        <div *ngFor="let Theme of Themes">
            <div class="theme-card" (click)="gotoTheme(Theme)" [ngStyle]='{"background-color":Theme.theme["--MainContent_Bg_Color"]}'>
                <div style="display:flex; flex-direction:row;">
                    <div style="height:fit-content;">
                        <div class="title-text" [ngStyle]='{"background-color":Theme.theme["--Primary_Color"],"color":Theme.theme["--Primary_Text_Color"]}'>
                            {{Theme.name}}
                        </div>
                        <div style="display:flex; flex-direction:row;">
                            <div class="theme-preview" [ngStyle]='{"background-color":Theme.theme["--Dropdown_Bg_Color"],"color":Theme.theme["--Accent_Text_Color"], "border-color":Theme.theme["--Primary_Border_Color"]}'>
                                <button class="btn btn-outline-primary" [ngStyle]='
                                    {
                                        "background-color":Theme.theme["--Complement_Color"],
                                        "color":Theme.theme["--Complement_Text_Color"],
                                        "border-color":Theme.theme["--Accent_Border_Color"]
                                    }'> {{Theme.name}} </button>
                            </div>
                            <div class="theme-preview" [ngStyle]='{"background-color":Theme.theme["--Modal_Bg_Color"],"color":Theme.theme["--Complement_Text_Color"]}'>
                                <button class="btn btn-outline-primary" [ngStyle]='
                                    {
                                        "background-color":Theme.theme["--Primary_Color"],
                                        "color":Theme.theme["--Primary_Text_Color"],
                                        "border-color":Theme.theme["--Primary_Border_Color"]
                                    }'> {{Theme.name}} </button>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
