.theme-card{
    border:1px solid var(--Primary_Border_Color);
    border-radius: 8px;
    padding:5px;   
    margin:10px;
    margin-top:25px;
    background-color: var(--Modal_Bg_Color);
    max-width: 500px;
    overflow:auto;
    width:fit-content;
    transition: background-color color 1250ms ease-in-out;
}

.pointer:hover{
    cursor:pointer
}

.search{
    transition: all 1250ms ease-in-out;
}

.theme-preview{
    border:1px solid;
    padding:25px;
    margin:10px;
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.theme-preview > button{
    margin:5px;
}

.theme-preview > button:hover{
    -webkit-filter: invert(8%);
    filter: invert(8%);
}

.title-text{
    border:1px solid var(--Accent_Border_Color);
    border-radius: 8px;
    background-color: var(--Primary_Color);
    color:var(--Primary_Text_Color);
    padding:7px;
    margin:10px;
    width:fit-content;
    transition: background-color color 1250ms ease-in-out;
}