<div class="form-group row recipe-card">
    <div class="row">
        <label for="Ingredients" class="col-3" >Ingredients {{Ingredients.length}}</label>

        <div class="col-2">
            <button (click)="addIngredient()" class="btn btn-md btn-success">Add Ingredient</button>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12 recipe-card" *ngFor="let Ingredient of Ingredients">
            <div class="row">
                <div class="row col-12">
                    <label for="Ingredient.Name" class="col-3">{{Ingredient.Name}}</label>
                    <label for="Ingredient.Unit" class="col-3">{{Ingredient?.Unit?.Name}}</label>
                    <label for="Ingredient.Unit" class="col-3">{{Ingredient?.Amount}}</label>
                    <div class="col-1">
                        <button (click)="removeIngredient(Ingredient)" class="btn btn-md btn-danger">Delete</button>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="col-4">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>