.form-group{
    padding-bottom: 25px;
}

.recipe-card{
    border:1px solid var(--Primary_Border_Color);
    border-radius: 8px;
    padding:10px;
    margin:10px;
}
.ingredient-card{
    padding:0;
    width:max-content;
}

.ingredient-details{
    padding:0 5px 0 0
}
.dropdown-divider{
    width: 98%;
    height: 8px;
    margin: 8px 0 0 1%;
    border-top: 1px solid var(--Primary_Border_Color);
    opacity: 1;
}