<header class="header">
    <div class="headercontainer row">
      <div class="col-3" style="padding-left:0px;">
        <a>
          <img
              src="https://i.imgur.com/Dxkqw0C.png"
              alt="header"
              className="header-image"
              style="height:60px;"
          />
        </a>
      </div>
      <div class="col-1" >
        <div class="header-text">
          {{" Marsun Reseptit"}}
        </div>
      </div>
      <div class="col-8" style="display:flex; justify-content: flex-end;">
        <account-dropdown></account-dropdown>
      </div>
    </div>
</header>