.header{
    height:60px;
    background-color: var(--Header_Bg_Color);
    border-bottom: 1px solid var(--Accent_Border_Color);
    font-family: 'Inter UI', sans-serif; 
}
.header-text{
    color: var(--Primary_Text_Color);
    word-wrap: break-word;
}

.headercontainer{
    display:flex;
    flex-direction: row;
    height:60px;
    align-items: center;
    justify-content: flex-start;
    margin:0;
    padding:0
}
.header-image{
    zoom: 1;
}

.header-img{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.showroutedropdown{
    display:inline;
}

@media (min-width: 0px) {
    .routedropdown{
        display:inline;
    }
}
@media (min-width: 620px) {
    .routedropdown{
        display:none;
    }
}

