.recipe-card{
    border:1px solid var(--Primary_Border_Color);
    border-radius: 8px;
    margin:5px;
    background-color: var(--Accent_Bg_Color);
    max-width: 500px;
    height:100%;
    width:100%;
}

.searchcontainer{
    max-width: 500px;
    margin:5px;
    display: flex;
    align-items: center;
}

@media (min-width: 576px) {
    .searchcontainer{
        margin:15px;
    }
    .recipe-card{
        margin:15px;
    }
}


.recipe-card:hover{
  cursor:pointer
}

.recipe-img{
    border:1px solid var(--Accent_Border_Color);
    border-radius: 8px;
    object-fit: cover;
    height:100%;
    width:100%;
}

.recipe-img-container{
    max-height:200px;
    max-width:200px;
    transition:all .25s;
    padding-right: 5px;
    flex-grow:1
}

.recipe-img-container:hover{
    max-height:350px;
    max-width:350px;
    height: auto;
    transition:all .5s;
}

.text-container{
    border:1px solid var(--Accent_Border_Color);
    border-radius: 8px;
    background-color: var(--Primary_Color);
    overflow-y:auto;
    max-height: 125px;
    margin:10px 0px 10px 5px;
    padding:5px;
}

.description-text{
    color:var(--Accent_Text_Color);
}

.title-text{
    color:var(--Primary_Text_Color);
}