<div class="changelog-card">
    <h1>THE CHANGE LOG</h1>

    <ul>
        <li>
            Major version 0
            <ul>
                <li>
                    Minor Version 001
                    <ul>
                        <li>
                           Self hosted! @ .com comain
                        </li>
                        <li>
                            Added roadmap
                        </li>
                        <li>
                            Added Like functionality to recipes, themes
                        </li>
                        <li>
                            Added comment functionality to recipes, themes, roadmap
                        </li>
                        <li>
                            Added notifications!
                        </li>
                        <li>
                            Added loading overlay & icons!
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
