<h1>THE CHANGE LOG</h1>

<ul>
    <li>
        Major version 0
        <ul>
            <li>
                Minor Version 001
                <ul>
                    <li>
                       Self hosted!
                    </li>
                    <li>
                        Moved to .com comain
                    </li>
                    <li>
                        Added Like functionality to recipes, themes
                    </li>
                    <li>
                        Added roadmap
                    </li>
                    <li>
                        Added comment functionality to recipes, themes, roadmap
                    </li>
                    <li>
                        Added notifications! (add request, if you feel their duration feels too short / long)
                        <br/>
                        Also if you notice, that a notification is missing, and there should be one, let us know!
                    </li>
                    <li>
                        Added loading overlay & icons!
                    </li>
                    <li>
                        removed users' ability to like recipes / themes multiple times by spamming the button.
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>