<div ngbDropdown #UnitDropDown="ngbDropdown" class="d-inline-block" autoClose="outside">
    <button type="button" class="btn btn-outline-primary" id="UnitDropDownToggle" ngbDropdownToggle>
        {{selectUnitData()}}
        <i [hidden]="UnitDropDown.isOpen()" class="bi bi-caret-down-fill"></i>
        <i [hidden]="!UnitDropDown.isOpen()" class="bi bi-caret-up-fill"></i>
    </button>
    <div ngbDropdownMenu>
        <form class="px-4 py-3">
            <div class="mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="searchUnit"
                    placeholder="{{'TXT_Search' | translate}}"
                    [(ngModel)]="Search"
                    name="Search"
                />
            </div>
        </form>

        <div style="overflow-y:auto; max-height:20vh;">
            <div *ngFor="let Unit of Units; let i = index">
                <div *ngIf="i != 0" class="dropdown-divider"></div>
                <button (click)="selectUnit(Unit)" ngbDropdownItem>{{Unit.name}}</button>
            </div>
        </div>
       

        <div class="dropdown-divider"></div>
        <div (click)="createNewUnit()" ngbDropdownItem>{{"TXT_Cannot_Find_Correct_Unit_Create" | translate}}</div>
        
        <div *ngIf="newUnit != null">
            <div class="dropdown-divider"></div>
            <form class="px-4 py-3">
                <div class="row">
                    <label for="Name" class="col-7">{{'TXT_Name' | translate}}</label>
                    <div class="col-5">
                        <input
                        class="form-control"
                        id="Unit.Name"
                        required
                        [(ngModel)]="newUnit.name"
                        name="newUnit.Name"
                        />
                    </div>
                </div>

                <div class="row">
                    <label for="Name" class="col-7">{{'TXT_Short_Name' | translate}}</label>
                    <div class="col-5">
                        <input
                        class="form-control"
                        id="Unit.name"
                        required
                        [(ngModel)]="newUnit.name"
                        name="newUnit.name"
                        />
                    </div>
                </div>

                <div>
                    <button class="btn btn-md btn-success" (click)="saveNewUnit()">{{'TXT_Save' | translate}}</button>
                </div>
               
            </form>
        </div>

    </div>
</div>