<div class="body">
    <app-header></app-header>
    <div style="display:flex; flex-direction:row; overflow:hidden;" [style.height]="GetHeight()">
       

        <div class="contentbody">
            <app-sidebar *ngIf="Settings.Show_Sidebar == true"></app-sidebar>
            <div class="content">
                <app-top-adbar *ngIf="TopAdBarEnabled && showAd"></app-top-adbar>
                <div style="padding:15px;">
                    <router-outlet />
                </div>
               
            </div>
            <app-side-adbar *ngIf="SideAdBarEnabled && showAd"></app-side-adbar>
        </div>

      
    </div>
    
   
    
    <app-footer></app-footer>
</div>