
<div class="body">
    <app-header></app-header>

    <div class="sidebarelement">
        <div class="sidebar">
           
            <nav class="nav" *ngFor="let Route of Routes">
                <div class="sidebar-container" [routerLink]="[Route.Route]" [routerLinkActive]="['is-active']">
                    <i class="bi bi-{{Route.Icon}} flex-icon"></i>
                    <a class="nav-link">
                        <span>{{Route.Route}}</span>
                    </a>
                </div>
            </nav>
        </div>  
        <div class="contentbody">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="adbar">
            <nav class="nav" *ngFor="let Ad of Ads">
                <div class="ad-container">
                    <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-1120436091721652"
                    data-ad-slot="1073935566"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                </div>
            </nav>  
        </div>  
    </div>
    
    <app-footer></app-footer>
</div>

<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

