

@media (min-width: 0px) {
    .adbar { 
      display:none;
      width:0px;
    }
  }
  
  @media (min-width: 620px) {
    .adbar {
        display: inline-block;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: var(--Sidebar_Bg_Color);
        border-left: 1px solid var(--Accent_Border_Color);
        width: 250px;
        height:100%;
        padding:0;
        color:var(--TextColor_Complement);
        font-family: 'Inter UI', sans-serif; 
    } 
  }
  