<div class="padded-content">
    <div style="max-width: 850px;">
        <div class="form-group dashboard-card" style="padding:0">

            <div class="dashboard-about-title">
                <div class="dashboard-about-text">
                    {{"TXT_Welcome_To_Marsun_Reseptit" | translate}}
                    <br/>
                    {{"TXT_About_Marsun_Reseptit" | translate}}
                </div>
            </div>

          
            
    
    
            <div style="display:flex; flex-direction:row; justify-content:space-between; margin-top:50px;">
                <div class="dashboard-about">
                    <div class="recipe-img-container">
                        <img class="recipe-img" style="object-fit:contain; margin-top:5px;"  src="../../../assets/Pocketbase.png" />
                    </div>
                    <div class="dashboard-about-text">
                        Pocketbase <br/> {{"TXT_Database" | translate}}
                    </div>
                </div>
                <div class="dashboard-about">
                    <div class="recipe-img-container">
                        <img class="recipe-img" style="object-fit:contain; margin-top:5px;" src="../../../assets/Angular.png" />
                    </div>
                    
                    <div class="dashboard-about-text">
                        Angular <br/> {{"TXT_Framework" | translate}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group dashboard-card">
            <label for="Trending" class="dashboard-label">{{"TXT_Trending_Recipes" | translate}}</label>
            <div class="row">
                <div class="big-recipe-card-container">
                    <div class="big-recipe-card mini-recipe-card" *ngIf="TrendingRecipes[0] != undefined" (click)="gotoRecipe(TrendingRecipes[0])">
                        <div style="display:flex; flex-direction:column;">
                            <div *ngIf="TrendingRecipes[0].thumbnail != undefined" style="position:relative;">
                                <img
                                    class="trending-img"
                                    [src]="TrendingRecipes[0].thumbnail"
                                    alt=""
                                />
                                <div class="recipelikes" *ngIf="TrendingRecipes[0].likes > 0">
                                    <i class="bi bi-hand-thumbs-up"></i>{{numberAbbreviator(TrendingRecipes[0].likes)}}
                                </div>
                            </div>
                            <div class="recipe-card-text-container">
                                <div class="title-text" >
                                    {{TrendingRecipes[0].name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-recipe-card-container">
                    <div *ngFor="let Recipe of TrendingRecipes | slice:1" class="mini-recipe-card" (click)="gotoRecipe(Recipe)">
                        <div *ngIf="Recipe.thumbnail != undefined" class="recipe-img-container">
                            <img
                                class="recipe-img"
                                [src]="Recipe.thumbnail"
                                alt=""
                            />
                            <div class="recipelikes" *ngIf="Recipe.likes > 0">
                                <i class="bi bi-hand-thumbs-up"></i>{{numberAbbreviator(Recipe.likes)}}
                            </div>
                        </div>
                        <div class="title-text">
                            {{Recipe.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
