<footer class="footer" *ngIf="Settings?.Show_Footer">
    <div class="footer-text ">
        <div style="margin-left:auto; padding-right:5px;">

            <a routerLink="GDPR">{{"TXT_GDPR" | translate}}</a>
            {{" | "}}
            <a routerLink="Privacy">{{"TXT_Privacy" | translate}}</a>            
            {{" | "}}
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/VilleKokkarinen">Github</a>
            {{" | Dev: "}}
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/VilleKokkarinen">Ville Kokkarinen</a>
        </div>
    
    </div>
</footer>
