<footer class="footer" *ngIf="Settings.Show_Footer">
    <div class="footer-text ">
        <div style="margin-left:auto; padding-right:5px;">

            <a routerLink="Contact-Us">{{"TXT_Contact_Us" | translate}}</a>
            {{" | "}}
            <a routerLink="TOS">{{"TXT_TOS" | translate}}</a>
            {{" | "}}
            <a routerLink="Privacy">{{"TXT_Privacy" | translate}}</a>
            {{" | "}}
            <a routerLink="Disclaimer">{{"TXT_Disclaimer" | translate}}</a>
            {{" | "}}
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/VilleKokkarinen/MarsunReseptit">Github</a>
           
        </div>
    
    </div>
</footer>
