.file-input {
    display: none;
  }

  
.dropzone {
  border: solid 1px var(--Accent_Border_Color);
  border-radius: 8px;
  background-color: var(--Primary_Color);
}

.droptext{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto;
  height:100%;
  color: var(--Primary_Text_Color);
}