@import "../../../../../styles/style.css";

.header{
    height:60px;
    background-color: var(--Black);
    border-bottom: 1px solid var(--DarkerGold);
    font-family: 'Inter UI', sans-serif; 
}
.header-text{
    color: var(--Gold);
}

.headercontainer{
    display:flex;
    flex-direction: row;
    height:60px;
    align-items: center;
    justify-content: flex-start;
    margin:0;
    padding:0
}
.header-image{
    zoom: 2;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

.navbar-brand {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 0.9rem;
}

.hidden{
    display: none;
    position: absolute;
    height:0;
    width:0;
}

.visible{
    display: block;
    position: absolute;
    height:6vh;
    min-height: 40px;
    width:100px;
}

.dropdownbuttoncontainer{
    width:100px;
    border: 1px solid var(--DarkGold);
}

.dropdownbutton{
    color: var(--Gold);
    height:3vh;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdownbutton:hover{
    background-color: var(--DarkerGold);
    transition: all .15s;
}

.dropdowncontainer{
    width:250px;
}
.dropdownbuttoncontainer{
    width:150px;
}

.header-dropdown-menu {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--DarkGray);
    border: 1px solid var(--DarkGold);
    border-top:none;
    width: 150px;
    height:6vh;
    min-height: 50px;
    padding:0;
    color:var(--LightGold);
} 

.header-dropdown-menu nav .header-dropdown-item {
    width: 100%;
    height: 3vh;
    padding-left:5px;
    min-height: 25px;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid var(--DarkerGold);
}

.header-dropdown-item a{
    color: var(--DarkGold);
    text-decoration: none;
}

.header-dropdown-item:hover{
    background-color: var(--DarkerGold);
    color: var(--Gold);
    transition: all .15s;
}

.header-dropdown-item:hover a{
    color: var(--Gold);
    transition: all .15s;
}