<div ngbDropdown #ThemeDropDown="ngbDropdown" class="d-inline-block" autoClose="outside">
    <button type="button" class="btn btn-outline-primary" id="ThemeDropDownToggle" ngbDropdownToggle>
        {{selectThemeData()}}
        <i [hidden]="ThemeDropDown.isOpen()" class="bi bi-caret-down-fill"></i>
        <i [hidden]="!ThemeDropDown.isOpen()" class="bi bi-caret-up-fill"></i>
    </button>
    <div ngbDropdownMenu>
        <form class="px-4 py-3">
            <div class="mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="searchTheme"
                    placeholder="search"
                    [(ngModel)]="Search"
                    name="Search"
                />
            </div>
        </form>

        <div style="overflow-y:auto; max-height:20vh;">
            <div *ngFor="let Theme of Themes">
                <div *ngIf='Search == "" || Theme?.Name?.includes(Search)'>
                    <div class="dropdown-divider"></div>
                    <button (click)="selectTheme(Theme)" ngbDropdownItem>{{Theme.Name}}</button>
                </div>
              
            </div>
        </div>
       

        <div class="dropdown-divider"></div>
        <div routerLink="/Add-Theme" ngbDropdownItem>cannot find correct theme? Add One!</div>        
    </div>
</div>