.recipe-card{
    padding:10px;
}
.recipe-img{
    max-height: 8vh;
    border:1px solid var(--Accent_Border_Color);
    border-radius: 8px;
}
.header{
    background-color: var(--Dropdown_Bg_Color);
    border:1px solid var(--Accent_Border_Color);
    border-radius: 8px;
    font-family: 'Roboto', 'Inter UI', sans-serif;
    margin:10px;
}

.header-text{
    padding-left:10px;
    font-size:calc(100% + 2vw);
    color: var(--Primary_Text_Color);
}

.headercontainer{
    min-height:5vh;
    max-height:8vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.recipecontainer-simple{
    background-color: var(--Dropdown_Bg_Color);
    color: var(--Primary_Text_Color);
    border:1px solid var(--Accent_Border_Color);
    border-radius: 8px;
    font-family: 'Roboto', 'Inter UI', sans-serif;
    padding:10px;
    margin:10px;
}

.quill-upload-image{
    object-fit: cover;
    width:100%;
    height:100%;
}


@media (min-width: 769px) {
    .quill-upload-image{ 
        max-width: 50vw;
        max-height: 50svh;
    }
}

@media (min-width: 1081px) {
    .quill-upload-image{ 
        object-fit: unset;
        width:unset;
        height:unset;
    }
}