
.form-group{
    padding-bottom: 25px;
}

.theme-card{
    border:1px solid var(--Primary_Border_Color);
    border-radius: 8px;
    padding:10px;
    margin:10px;
    font-size: small;
}

.color-picker {
    background-color: var(--Modal_Bg_Color) !important;
}
.preset{
    background-color: var(--Modal_Bg_Color);
}
  
  .flex-icon,
  .flex-content {
    flex-grow: 0;
    position: relative;
    padding-left: 5px;
  }
  
  .flex-icon {
    color: var(--Accent_Text_Color);
    transition: all .5s;
  }
  
  .nav-link {
    padding-left: 5px;
    color: var(--Accent_Text_Color);
    white-space:nowrap;
  }
  
  .sidebar-container:hover .flex-icon {
    flex-grow: 0.75;
    color: var(--Primary_Text_Color);
  }
  
  .sidebar-container:hover .nav-link {
    color: var(--Primary_Text_Color);
  }
  
  .sidebar-container:active .nav-link {
    color: var(--Primary_Text_Color);
  }
  
  .sidebar-container.is-active .flex-icon {
    color: var(--Primary_Text_Color);
  }
  .sidebar-container.is-active .nav-link  {
    color: var(--Primary_Text_Color);
    text-decoration: underline;
  }