<div class="padded-content">
    <div *ngIf="!submitted">
      <div class="form-group row recipe-card">
        <div class="col-12" style="padding:0;">
          <div class="row">
            <div style="display:flex; flex-direction: row;">
                <label for="Name" style="margin-right: 5px;">{{"TXT_Name" | translate}}</label>
                <input
                style="max-width: 150px;margin-right: 10px;"
                type="text"
                class="form-control"
                id="recipe.Name"
                required
                [(ngModel)]="recipe.name"
                name="recipe.Name"
                />
                <button (click)="saveRecipe()" class="btn btn-md btn-success">{{"TXT_Save" | translate}}</button>
                <button class="btn btn-md btn-danger" style="margin-left:auto;" (click)="newRecipe()">{{"TXT_Clear" | translate}}</button>
            </div>
            <div class="col-12" style="margin-top:5px;">
              <label for="Thumbnail" class="col-6">{{"TXT_Thumbnail" | translate}}</label>
              <app-image-upload [(selectedImageURL)]="recipe.thumbnail"></app-image-upload>
            </div>
          </div>
        </div>
      </div>
      
      <div class="form-group recipe-card" style="display:flex; flex-direction: row;">
          <label for="Description" style="padding-right:10px;">{{"TXT_Description" | translate}}: </label>
            <textarea
              style="max-width:200px;"
              class="form-control" 
              type="text"
              id="Description"
              required
              [(ngModel)]="recipe.description"
              name="Description"
            ></textarea>
      </div>

      <div class="form-group row recipe-card">
        <label for="Recipe" class="col-12" style="padding-bottom:5px;">{{"TXT_Recipe_Label" | translate}}</label>
        <rich-text-editor [(control)]="recipe.recipe"></rich-text-editor>
      </div>
    </div>
  
    <div *ngIf="submitted">
      <h4>{{"TXT_Saved_Succesfully" | translate}}</h4>
      <button class="btn btn-success" (click)="newRecipe()">{{"TXT_Add_Recipe" | translate}}</button>
    </div>
  </div>