
.side-adbar { 
  display:none;
  width:0px;
}

@media (min-width: 900px) {
  .side-adbar {
      display: inline-block;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: var(--Sidebar_Bg_Color);
      border-left: 1px solid var(--Accent_Border_Color);
      width:250px !important;
      height:100% !important;
      padding:0;
      color:var(--Complement_Text_Color);
      font-family: 'Inter UI', sans-serif; 
      transition: background-color 1250ms ease-in-out;
  } 
}
